<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
  </br>
  <%= @article.text.length%><%= " characters"%>
</p>

<%= link_to 'Articles Index?!', articles_path %>|
<%= link_to 'Edit', edit_article_path(@article) %> 
