<h1>Hello World!</h1>

<%= link_to 'My Blog', controller: 'articles' %></br>
<%= link_to 'New Article', new_article_path %>
<!-- <h1>#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->
